## Импорт библиотек

In [7]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Загрузка ланных. Анализ.

In [8]:
data = pd.read_csv('statistics.csv')

In [9]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## 1. Сколько мужчин и женщин ( половая особенность) представлено в этом наборе данных?

In [10]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

## 2. Каков средний возраст ( возрастная характеристика) женщины?

In [11]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

## 3. Каков процент граждан Германии (характеристика родной страны )?

In [12]:
float((data['native-country'] == 'Germany').sum())/data.shape[0]

0.004207487485028101

## 4-5. Каково среднее и стандартное отклонение возраста для тех, кто зарабатывает более 50 тысяч в год ( функция заработной платы ) и тех, кто зарабатывает менее 50 тысяч в год?

In [13]:
mensh = data.loc[data['salary'] == '<=50K', 'age']
bolsh = data.loc[data['salary'] =='>50K', 'age']
print("Средний возраст богатых людей: {0} +- {1} years, бедных - {2} +- {3} years.".format(
    round(bolsh.mean()), round(bolsh.std(), 1),
    round(mensh.mean()), round(mensh.std(), 1)))

Средний возраст богатых людей: 44 +- 10.5 years, бедных - 37 +- 14.0 years.

## 6. Правда ли, что люди, которые зарабатывают более 50 тысяч, имеют хотя бы среднее образование? ( образование - бакалавр, проф-школа, доцент, ассистент, магистр или доктор )

In [21]:
data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

## 7. Отображение статистики возраста для каждой расы ( признак расы ) и каждого пола ( признак пола ). Используйте groupby () и описать () . Найти максимальный возраст мужчин американо-индийско-эскимосской расы.

In [15]:
data.groupby(['race','sex']).age.describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

## 8. Среди кого больше доля тех, кто много зарабатывает (> 50 тыс.): Замужние или одинокие мужчины (особенность семейного положения )? Считается, что в браке находятся те, кто имеет семейное положение, начиная с женатых (женатых гражданских супругов, женатых супругов отсутствуют или женатых супругов), остальные считаются холостяками.

In [16]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [17]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [18]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

## 9. Какое максимальное количество часов человек работает в неделю ( функция часов в неделю )? Сколько человек работает такое количество часов, и каков процент тех, кто зарабатывает много (> 50 тыс.) Среди них?

In [19]:
max_load = data['hours-per-week'].max()
print("Макс время - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Общее количество таких работягов {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Процент богатых среди них {0}%".format(int(100 * rich_share)))

Макс время - 99 hours./week.
Общее количество таких работягов 85
Процент богатых среди них 29%

## 10. Подсчитайте среднее время работы ( часы в неделю ) для тех, кто зарабатывает мало и много ( зарплата ) для каждой страны ( родной страны ). Что это будет для Японии?

In [20]:
data.groupby(['native-country','salary'])['hours-per-week'].mean().head(20)

native-country      salary
?                   <=50K     40.164760
                    >50K      45.547945
Cambodia            <=50K     41.416667
                    >50K      40.000000
Canada              <=50K     37.914634
                    >50K      45.641026
China               <=50K     37.381818
                    >50K      38.900000
Columbia            <=50K     38.684211
                    >50K      50.000000
Cuba                <=50K     37.985714
                    >50K      42.440000
Dominican-Republic  <=50K     42.338235
                    >50K      47.000000
Ecuador             <=50K     38.041667
                    >50K      48.750000
El-Salvador         <=50K     36.030928
                    >50K      45.000000
England             <=50K     40.483333
                    >50K      44.533333
Name: hours-per-week, dtype: float64